<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>TINAMI</string>
		<key>type</key>
		<integer>0</integer>
		<key>url</key>
		<string>http://www.tinami.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pixiv</string>
		<key>type</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.pixiv.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PiXA</string>
		<key>type</key>
		<integer>2</integer>
		<key>url</key>
		<string>http://www.pixa.cc/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Tumblr</string>
		<key>type</key>
		<integer>3</integer>
		<key>url</key>
		<string>http://www.tumblr.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Danbooru</string>
		<key>type</key>
		<integer>4</integer>
		<key>url</key>
		<string>http://danbooru.donmai.us/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Seiga</string>
		<key>type</key>
		<integer>5</integer>
		<key>url</key>
		<string>http://seiga.nicovideo.jp/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fg</string>
		<key>type</key>
		<integer>6</integer>
		<key>default_name</key>
		<string>fg</string>
		<key>vers_url</key>
		<string>http://dl.dropbox.com/u/7748830/fg.vers</string>
		<key>const_url</key>
		<string>http://dl.dropbox.com/u/7748830/fg.plist</string>
		<key>url</key>
		<string>http://www.fg-site.net/</string>
		<key>version</key>
		<string>21</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Nijie</string>
		<key>type</key>
		<integer>7</integer>
		<key>default_name</key>
		<string>Nijie</string>
		<key>url</key>
		<string>http://nijie.info/</string>
		<key>version</key>
		<string>2</string>
		<key>vers_url</key>
		<string>http://dl.dropbox.com/u/7748830/nijie.vers</string>
		<key>const_url</key>
		<string>http://dl.dropbox.com/u/7748830/nijie.plist</string>
	</dict>
</array>
</plist>
