<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>matrix</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>id</key>
			<string>matrix</string>
			<key>name</key>
			<string>body</string>
			<key>children</key>
			<array>
				<dict>
					<key>id</key>
					<string>link</string>
					<key>name</key>
					<string>a</string>
					<key>attributes</key>
					<dict>
						<key>href</key>
						<string>.*?mode=medium.*?</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>href</key>
						<string>.*?illust_id=([0-9]*)</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>id</key>
							<string>thumb</string>
							<key>name</key>
							<string>img</string>
							<key>attributes</key>
							<dict>
								<key>src</key>
								<string>.*\/transparent\.gif$</string>
							</dict>
							<key>needsScrapAttributes</key>
							<dict>
								<key>data-src</key>
								<string>(.*)</string>
							</dict>
						</dict>
						<dict>
							<key>id</key>
							<string>thumb2</string>
							<key>name</key>
							<string>img</string>
							<key>attributes</key>
							<dict>
								<key>src</key>
								<string>.*</string>
							</dict>
							<key>needsScrapAttributes</key>
							<dict>
								<key>src</key>
								<string>(.*)</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>pages</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>pages</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>a</string>
							<key>needsScrapAttributes</key>
							<dict>
								<key>href</key>
								<string>.*p=([0-9]*)</string>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>Illusts</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>is_list</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>ThumbnailURLString</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>link.thumb2</string>
							<key>attr_name</key>
							<string>src</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>ThumbnailURLString</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>link.thumb</string>
							<key>attr_name</key>
							<string>data-src</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>IllustID</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>link</string>
							<key>attr_name</key>
							<string>href</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Pages</key>
			<dict>
				<key>path</key>
				<string>pages</string>
				<key>attr_name</key>
				<string>href</string>
				<key>is_list</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>matrix_ranking</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>id</key>
			<string>matrix</string>
			<key>name</key>
			<string>body</string>
			<key>children</key>
			<array>
				<dict>
					<key>id</key>
					<string>link</string>
					<key>name</key>
					<string>a</string>
					<key>attributes</key>
					<dict>
						<key>href</key>
						<string>.*?mode=medium.*?</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>href</key>
						<string>.*?illust_id=([0-9]*)</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>id</key>
							<string>thumb</string>
							<key>name</key>
							<string>img</string>
							<key>needsScrapAttributes</key>
							<dict>
								<key>data-src</key>
								<string>(.*)</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>nav</string>
					<key>id</key>
					<string>pages</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>pages</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>a</string>
							<key>needsScrapAttributes</key>
							<dict>
								<key>href</key>
								<string>.*p=([0-9]*)</string>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>Illusts</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>is_list</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>ThumbnailURLString</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>link.thumb</string>
							<key>attr_name</key>
							<string>data-src</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>IllustID</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>link</string>
							<key>attr_name</key>
							<string>href</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Pages</key>
			<dict>
				<key>path</key>
				<string>pages</string>
				<key>attr_name</key>
				<string>href</string>
				<key>is_list</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>medium</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>name</key>
			<string>html</string>
			<key>id</key>
			<string>medium</string>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>link</string>
					<key>id</key>
					<string>url</string>
					<key>attributes</key>
					<dict>
						<key>rel</key>
						<string>alternate</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>href</key>
						<string>.*illust_id=(.*)</string>
					</dict>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>image</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>works_display</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>div</string>
							<key>id</key>
							<string>div</string>
							<key>attributes</key>
							<dict>
								<key>class</key>
								<string>_layout-thumbnail ui-modal-trigger</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>img</string>
									<key>id</key>
									<string>img</string>
									<key>needsScrapAttributes</key>
									<dict>
										<key>src</key>
										<string>(.*)</string>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>meta</string>
					<key>id</key>
					<string>title</string>
					<key>attributes</key>
					<dict>
						<key>property</key>
						<string>og:title</string>
					</dict>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>contents</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>layout-a</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>div</string>
							<key>id</key>
							<string>profile</string>
							<key>attributes</key>
							<dict>
								<key>class</key>
								<string>ui-layout-west</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>a</string>
									<key>id</key>
									<string>a</string>
									<key>attributes</key>
									<dict>
										<key>class</key>
										<string>user-link</string>
										<key>href</key>
										<string>.*member.php.*id=.*</string>
									</dict>
									<key>needsScrapAttributes</key>
									<dict>
										<key>title</key>
										<string>(.*)</string>
										<key>href</key>
										<string>.*?id=([0-9]*)</string>
									</dict>
									<key>children</key>
									<array>
										<dict>
											<key>name</key>
											<string>img</string>
											<key>id</key>
											<string>img</string>
											<key>needsScrapAttributes</key>
											<dict>
												<key>src</key>
												<string>(.*)</string>
											</dict>
										</dict>
										<dict>
											<key>name</key>
											<string>h1</string>
											<key>id</key>
											<string>h</string>
											<key>needsScrapBodys</key>
											<array>
												<string>(.*)</string>
											</array>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>section</string>
							<key>id</key>
							<string>work-info</string>
							<key>attributes</key>
							<dict>
								<key>class</key>
								<string>work-info.*</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>ul</string>
									<key>id</key>
									<string>meta</string>
									<key>attributes</key>
									<dict>
										<key>class</key>
										<string>meta</string>
									</dict>
									<key>needsScrapBodys</key>
									<array>
										<string>.*\s([0-9]+)P.*</string>
									</array>
								</dict>
								<dict>
									<key>name</key>
									<string>h1</string>
									<key>id</key>
									<string>h1</string>
									<key>attributes</key>
									<dict>
										<key>class</key>
										<string>title</string>
									</dict>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
								<dict>
									<key>name</key>
									<string>p</string>
									<key>id</key>
									<string>caption</string>
									<key>attributes</key>
									<dict>
										<key>class</key>
										<string>caption</string>
									</dict>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>div</string>
							<key>id</key>
							<string>rating</string>
							<key>attributes</key>
							<dict>
								<key>id</key>
								<string>rating</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>div</string>
									<key>id</key>
									<string>v</string>
									<key>attributes</key>
									<dict>
										<key>id</key>
										<string>jd_rtv</string>
									</dict>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
								<dict>
									<key>name</key>
									<string>div</string>
									<key>id</key>
									<string>c</string>
									<key>attributes</key>
									<dict>
										<key>id</key>
										<string>jd_rtc</string>
									</dict>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
								<dict>
									<key>name</key>
									<string>div</string>
									<key>id</key>
									<string>t</string>
									<key>attributes</key>
									<dict>
										<key>id</key>
										<string>jd_rtt</string>
									</dict>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
								<dict>
									<key>name</key>
									<string>h4</string>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>ul</string>
							<key>id</key>
							<string>tags</string>
							<key>attributes</key>
							<dict>
								<key>class</key>
								<string>tags</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>a</string>
									<key>attributes</key>
									<dict>
										<key>href</key>
										<string>/search\.php\?s_mode=s_tag_full&amp;word=</string>
									</dict>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>div</string>
							<key>id</key>
							<string>display</string>
							<key>attributes</key>
							<dict>
								<key>class</key>
								<string>works_display</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>a</string>
									<key>attributes</key>
									<dict>
										<key>href</key>
										<string>.*member_illust\.php\?mode=.*</string>
									</dict>
									<key>needsScrapAttributes</key>
									<dict>
										<key>href</key>
										<string>.*member_illust\.php\?mode=(.*)&amp;illust_id=(.*)</string>
									</dict>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>form</string>
							<key>attributes</key>
							<dict>
								<key>action</key>
								<string>member_illust\.php</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>input</string>
									<key>needsScrapAttributes</key>
									<dict>
										<key>value</key>
										<string>(.*)</string>
										<key>name</key>
										<string>(.*)</string>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>input</string>
					<key>id</key>
					<string>illust_id</string>
					<key>attributes</key>
					<dict>
						<key>name</key>
						<string>illust_id</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>value</key>
						<string>(.*)</string>
					</dict>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>rpc_u_id</string>
					<key>attributes</key>
					<dict>
						<key>id</key>
						<string>rpc_u_id</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>title</key>
						<string>(.*)</string>
					</dict>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>rpc_e_id</string>
					<key>attributes</key>
					<dict>
						<key>id</key>
						<string>rpc_e_id</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>title</key>
						<string>(.*)</string>
					</dict>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>rpc_qr</string>
					<key>attributes</key>
					<dict>
						<key>id</key>
						<string>rpc_qr</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>value</key>
						<string>(.*)</string>
					</dict>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>rpc_s_id</string>
					<key>attributes</key>
					<dict>
						<key>id</key>
						<string>rpc_s_id</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>title</key>
						<string>(.*)</string>
					</dict>
				</dict>
				<dict>
					<key>name</key>
					<string>img</string>
					<key>id</key>
					<string>thumbnail</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>bookmark_modal_thumbnail</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>data-src</key>
						<string>(.*)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>UserName</key>
			<dict>
				<key>path</key>
				<string>contents.profile.a.h</string>
			</dict>
			<key>UserID</key>
			<dict>
				<key>path</key>
				<string>contents.profile.a</string>
				<key>attr_name</key>
				<string>href</string>
			</dict>
			<key>UserPictureURLString</key>
			<dict>
				<key>path</key>
				<string>contents.profile.a.img</string>
				<key>attr_name</key>
				<string>src</string>
			</dict>
			<key>DateString</key>
			<dict>
				<key>path</key>
				<string>contents.works_data.p</string>
				<key>regex_idx</key>
				<string>1</string>
				<key>body_idx</key>
				<string>0</string>
			</dict>
			<key>MangaPageCount</key>
			<dict>
				<key>path</key>
				<string>contents.work-info.meta</string>
			</dict>
			<key>Title</key>
			<dict>
				<key>path</key>
				<string>contents.work-info.h1</string>
			</dict>
			<key>RatingViewCount</key>
			<dict>
				<key>path</key>
				<string>rcontents.ating.v</string>
			</dict>
			<key>RatingCount</key>
			<dict>
				<key>path</key>
				<string>contents.rating.c</string>
			</dict>
			<key>RatingScore</key>
			<dict>
				<key>path</key>
				<string>contents.rating.t</string>
			</dict>
			<key>Comment</key>
			<dict>
				<key>path</key>
				<string>contents.work-info.caption</string>
			</dict>
			<key>Tags</key>
			<dict>
				<key>is_list</key>
				<true/>
				<key>path</key>
				<string>contents.tags</string>
			</dict>
			<key>MediumURLString</key>
			<dict>
				<key>path</key>
				<string>medium.thumbnail</string>
				<key>attr_name</key>
				<string>data-src</string>
				<key>strict</key>
				<false/>
				<key>replacing</key>
				<array>
					<dict>
						<key>regex</key>
						<string>150x150</string>
						<key>replacing</key>
						<string>600x600</string>
					</dict>
				</array>
			</dict>
			<key>FormInfo</key>
			<dict>
				<key>path</key>
				<string>contents.form</string>
				<key>is_list</key>
				<false/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>path</key>
							<string></string>
							<key>attr_name</key>
							<string>name</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string></string>
							<key>attr_name</key>
							<string>value</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>RatingString</key>
			<dict>
				<key>path</key>
				<string>contents.rating.h4</string>
			</dict>
			<key>IllustID</key>
			<dict>
				<key>path</key>
				<string>medium.url</string>
				<key>attr_name</key>
				<string>href</string>
				<key>regex_idx</key>
				<string>1</string>
				<key>body_idx</key>
				<string>0</string>
				<key>strict</key>
				<true/>
			</dict>
			<key>EID</key>
			<dict>
				<key>path</key>
				<string>rpc_e_id</string>
				<key>attr_name</key>
				<string>title</string>
			</dict>
			<key>QR</key>
			<dict>
				<key>path</key>
				<string>rpc_qr</string>
				<key>attr_name</key>
				<string>value</string>
			</dict>
			<key>SessionID</key>
			<dict>
				<key>path</key>
				<string>rpc_s_id</string>
				<key>attr_name</key>
				<string>title</string>
			</dict>
			<key>IllustMode</key>
			<dict>
				<key>path</key>
				<string>contents.display.a</string>
				<key>attr_name</key>
				<string>href</string>
				<key>regex_idx</key>
				<string>1</string>
				<key>body_idx</key>
				<string>0</string>
			</dict>
		</dict>
	</dict>
	<key>big</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>name</key>
			<string>body</string>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>img</string>
					<key>needsScrapAttributes</key>
					<dict>
						<key>src</key>
						<string>(.*)</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>url</key>
			<dict>
				<key>path</key>
				<string>img</string>
				<key>attr_name</key>
				<string>src</string>
			</dict>
		</dict>
	</dict>
	<key>manga</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>name</key>
			<string>body</string>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>section</string>
					<key>id</key>
					<string>container</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>manga</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>script</string>
							<key>id</key>
							<string>script</string>
							<key>needsScrapBodys</key>
							<array>
								<string>pixiv\.context\.images\[0\]\s=\s\&quot;(.*?)\&quot;</string>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>urls</key>
			<dict>
				<key>path</key>
				<string>container.script</string>
			</dict>
		</dict>
	</dict>
	<key>comments</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>name</key>
			<string>p</string>
			<key>attributes</key>
			<dict>
				<key>class</key>
				<string>worksComment</string>
			</dict>
			<key>needsScrapBodys</key>
			<array>
				<string>(.*)</string>
			</array>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>a</string>
					<key>attributes</key>
					<dict>
						<key>href</key>
						<string>.*member\.php.*</string>
					</dict>
					<key>needsScrapBodys</key>
					<array>
						<string>(.*)</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>span</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>worksCommentDate</string>
					</dict>
					<key>needsScrapBodys</key>
					<array>
						<string>(.*)</string>
					</array>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>Comments</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>is_list</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>UserName</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>DateString</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>span</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>Comment</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string></string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
	<key>user_list</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>name</key>
			<string>div</string>
			<key>id</key>
			<string>root</string>
			<key>attributes</key>
			<dict>
				<key>class</key>
				<string>^ui-layout-east$</string>
			</dict>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>users</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>^usericon$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>a</string>
							<key>attributes</key>
							<dict>
								<key>href</key>
								<string>^member\.php\?id=[0-9]+$</string>
							</dict>
							<key>needsScrapAttributes</key>
							<dict>
								<key>href</key>
								<string>^member\.php\?id=([0-9]+)$</string>
								<key>data-user_name</key>
								<string>(.*)</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>img</string>
									<key>needsScrapAttributes</key>
									<dict>
										<key>src</key>
										<string>(.*)</string>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>pages</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>^pages$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>a</string>
							<key>needsScrapAttributes</key>
							<dict>
								<key>href</key>
								<string>.*p=([0-9]+)</string>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>Users</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>is_list</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>ImageURLString</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>users.a.img</string>
							<key>attr_name</key>
							<string>src</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>UserName</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>users.a</string>
							<key>attr_name</key>
							<string>data-user_name</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>UserID</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>users.a</string>
							<key>attr_name</key>
							<string>href</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Pages</key>
			<dict>
				<key>path</key>
				<string>pages</string>
				<key>attr_name</key>
				<string>href</string>
				<key>is_list</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>user_list_mypic</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>name</key>
			<string>div</string>
			<key>id</key>
			<string>root</string>
			<key>attributes</key>
			<dict>
				<key>class</key>
				<string>^layout-column-2$</string>
			</dict>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>form</string>
					<key>id</key>
					<string>users</string>
					<key>attributes</key>
					<dict>
						<key>action</key>
						<string>^mypixiv_all\.php$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>a</string>
							<key>attributes</key>
							<dict>
								<key>href</key>
								<string>^/member\.php\?id=[0-9]+$</string>
							</dict>
							<key>needsScrapAttributes</key>
							<dict>
								<key>href</key>
								<string>^/member\.php\?id=([0-9]+)$</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>img</string>
									<key>needsScrapAttributes</key>
									<dict>
										<key>src</key>
										<string>(.*)</string>
									</dict>
								</dict>
								<dict>
									<key>name</key>
									<string>h1</string>
									<key>attributes</key>
									<dict>
										<key>class</key>
										<string>user-name</string>
									</dict>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>div</string>
							<key>id</key>
							<string>pages</string>
							<key>attributes</key>
							<dict>
								<key>class</key>
								<string>^pages$</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>a</string>
									<key>needsScrapAttributes</key>
									<dict>
										<key>href</key>
										<string>.*p=([0-9]+)</string>
									</dict>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>Users</key>
			<dict>
				<key>path</key>
				<string>users</string>
				<key>is_list</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>ImageURLString</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a.img</string>
							<key>attr_name</key>
							<string>src</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>UserName</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a.h1</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>UserID</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a</string>
							<key>attr_name</key>
							<string>href</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Pages</key>
			<dict>
				<key>path</key>
				<string>pages</string>
				<key>attr_name</key>
				<string>href</string>
				<key>is_list</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>menu</key>
	<array>
		<dict>
			<key>title</key>
			<string>ユーザ</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>member_illust.php?</string>
					<key>name</key>
					<string>自分のイラスト</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>マイピク</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>mypixiv_all.php?</string>
					<key>name</key>
					<string>マイピク一覧</string>
					<key>class</key>
					<string>PixivUserListViewController</string>
					<key>parser</key>
					<string>user_list_mypic</string>
				</dict>
				<dict>
					<key>method</key>
					<string>mypixiv_new_illust.php?</string>
					<key>name</key>
					<string>マイピク新着イラスト</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>フォロー</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>bookmark.php?type=user&amp;</string>
					<key>name</key>
					<string>フォローユーザ一覧</string>
					<key>class</key>
					<string>PixivUserListViewController</string>
				</dict>
				<dict>
					<key>method</key>
					<string>bookmark_new_illust.php?</string>
					<key>name</key>
					<string>フォロー新着イラスト</string>
				</dict>
				<dict>
					<key>method</key>
					<string>bookmark.php?type=user&amp;rest=hide&amp;</string>
					<key>name</key>
					<string>非公開フォローユーザ一覧</string>
					<key>class</key>
					<string>PixivUserListViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>ブックマーク</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>bookmark.php?</string>
					<key>name</key>
					<string>ブックマーク</string>
				</dict>
				<dict>
					<key>method</key>
					<string>bookmark.php?rest=hide&amp;</string>
					<key>name</key>
					<string>非公開ブックマーク</string>
				</dict>
				<dict>
					<key>method</key>
					<string>saved_tags</string>
					<key>name</key>
					<string>タグブックマーク</string>
					<key>class</key>
					<string>PixivTagListController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>新着</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>new_illust.php?</string>
					<key>name</key>
					<string>みんなの新着イラスト</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>ランキング</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>ranking.php?mode=dayly&amp;content=illust&amp;</string>
					<key>name</key>
					<string>デイリーランキング</string>
					<key>parser</key>
					<string>matrix_ranking</string>
				</dict>
				<dict>
					<key>method</key>
					<string>ranking.php?mode=weekly&amp;content=illust&amp;</string>
					<key>name</key>
					<string>ウィークリーランキング</string>
					<key>parser</key>
					<string>matrix_ranking</string>
				</dict>
				<dict>
					<key>method</key>
					<string>ranking.php?mode=monthly&amp;content=illust&amp;</string>
					<key>name</key>
					<string>マンスリーランキング</string>
					<key>parser</key>
					<string>matrix_ranking</string>
				</dict>
				<dict>
					<key>method</key>
					<string>ranking.php?mode=rookie&amp;content=illust&amp;</string>
					<key>name</key>
					<string>ルーキーランキング</string>
					<key>parser</key>
					<string>matrix_ranking</string>
				</dict>
				<dict>
					<key>method</key>
					<string>ranking.php?mode=original&amp;</string>
					<key>name</key>
					<string>オリジナルランキング</string>
					<key>parser</key>
					<string>matrix_ranking</string>
				</dict>
				<dict>
					<key>method</key>
					<string>ranking.php?mode=male&amp;</string>
					<key>name</key>
					<string>男子に人気</string>
					<key>parser</key>
					<string>matrix_ranking</string>
				</dict>
				<dict>
					<key>method</key>
					<string>ranking.php?mode=female&amp;</string>
					<key>name</key>
					<string>女子に人気</string>
					<key>parser</key>
					<string>matrix_ranking</string>
				</dict>
				<dict>
					<key>method</key>
					<string>ranking.php?mode=daily&amp;content=ugoira&amp;</string>
					<key>name</key>
					<string>うごくイラスト</string>
					<key>parser</key>
					<string>matrix_ranking</string>
				</dict>
				<dict>
					<key>method</key>
					<string>ranking.php?mode=daily_r18&amp;content=illust&amp;</string>
					<key>name</key>
					<string>R-18 デイリーランキング</string>
					<key>parser</key>
					<string>matrix_ranking</string>
				</dict>
				<dict>
					<key>method</key>
					<string>ranking.php?mode=weekly_r18&amp;content=illust&amp;</string>
					<key>name</key>
					<string>R-18 ウィークリーランキング</string>
					<key>parser</key>
					<string>matrix_ranking</string>
				</dict>
				<dict>
					<key>method</key>
					<string>ranking.php?mode=male_r18&amp;content=illust&amp;</string>
					<key>name</key>
					<string>R-18 男子に人気</string>
					<key>parser</key>
					<string>matrix_ranking</string>
				</dict>
				<dict>
					<key>method</key>
					<string>ranking.php?mode=female_r18&amp;content=illust</string>
					<key>name</key>
					<string>R-18 女子に人気</string>
					<key>parser</key>
					<string>matrix_ranking</string>
				</dict>
				<dict>
					<key>method</key>
					<string>ranking.php?mode=daily_r18&amp;content=ugoira&amp;</string>
					<key>name</key>
					<string>うごくイラストR-18 デイリーランキング</string>
					<key>parser</key>
					<string>matrix_ranking</string>
				</dict>
				<dict>
					<key>method</key>
					<string>ranking.php?mode=weekly_r18&amp;content=ugoira&amp;</string>
					<key>name</key>
					<string>うごくイラストR-18 ウィークリーランキング</string>
					<key>parser</key>
					<string>matrix_ranking</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>検索</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>search.php?</string>
					<key>name</key>
					<string>検索</string>
					<key>class</key>
					<string>PixivSearchViewController</string>
					<key>nib</key>
					<string>PixivSearchController</string>
				</dict>
				<dict>
					<key>method</key>
					<string>search_history</string>
					<key>name</key>
					<string>検索履歴</string>
					<key>class</key>
					<string>PixivSearchHistoryViewController</string>
					<key>no_nib</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
	<key>urls</key>
	<dict>
		<key>login</key>
		<string>https://www.pixiv.net/login.php</string>
		<key>logout</key>
		<string>http://www.pixiv.net/logout.php</string>
		<key>comment_history</key>
		<string>http://www.pixiv.net/rpc_comment_history.php</string>
		<key>medium</key>
		<string>http://www.pixiv.net/member_illust.php?mode=medium&amp;illust_id=%@</string>
		<key>big</key>
		<string>http://www.pixiv.net/member_illust.php?mode=big&amp;illust_id=%@</string>
		<key>manga</key>
		<string>http://www.pixiv.net/member_illust.php?mode=manga&amp;illust_id=%@</string>
	</dict>
	<key>constants</key>
	<dict>
		<key>expired_seconds</key>
		<string>3600</string>
		<key>tt_regex</key>
		<string>&lt;input type=&quot;hidden&quot; name=&quot;tt&quot; value=&quot;(.*?)&quot;&gt;</string>
		<key>stacc_url_format</key>
		<string>http://www.pixiv.net/%@/%@.json?tt=%@</string>
		<key>stacc_next_max_id_key</key>
		<string>stacc.next_max_sid</string>
		<key>stacc_is_last_page_key</key>
		<string>stacc.is_last_page</string>
		<key>stacc_status_key</key>
		<string>stacc.status</string>
		<key>stacc_illust_key</key>
		<string>stacc.illust</string>
		<key>stacc_user_key</key>
		<string>stacc.user</string>
		<key>stacc_illust_id_key</key>
		<string>ref_illust.id</string>
		<key>stacc_user_id_key</key>
		<string>post_user.id</string>
		<key>stacc_thumbnail_url_key</key>
		<string>url.s</string>
		<key>stacc_entry_title_key</key>
		<string>title</string>
		<key>stacc_entry_comment_key</key>
		<string>comment</string>
		<key>stacc_entry_user_id_key</key>
		<string>id</string>
		<key>stacc_entry_user_name_key</key>
		<string>name</string>
		<key>upload_url_1</key>
		<string>http://www.pixiv.net/content_upload.php</string>
		<key>upload_url_2</key>
		<string>http://www.pixiv.net/content_upload.php</string>
		<key>upload_param_1</key>
		<dict>
			<key>mode</key>
			<string>upload</string>
		</dict>
		<key>upload_param_2</key>
		<dict>
			<key>mode</key>
			<string>move</string>
			<key>uptype</key>
			<string>illust</string>
			<key>taglock[0]</key>
			<string>0</string>
			<key>x_restrict[0]</key>
			<string>0</string>
			<key>restrict[0]</key>
			<string>0</string>
			<key>resopen[0]</key>
			<string>0</string>
			<key>qrsopen[0]</key>
			<string>0</string>
		</dict>
		<key>upload_finish_regex</key>
		<string>&lt;div class=&quot;finish_upload&quot;&gt;&lt;p&gt;&lt;span class=&quot;f18&quot;&gt;\[ &lt;a href=&quot;member_illust\.php\?mode=medium&amp;amp;illust_id=([0-9]+?)&quot; title=&quot;.+&quot;&gt;</string>
		<key>comments_body_path</key>
		<string>body.html</string>
		<key>comments_divide_str</key>
		<string>&lt;div class=&quot;comment&quot;&gt;</string>
		<key>comments_username_regex</key>
		<string>&lt;a href=&quot;member\.php\?id=[0-9]*&quot; class=&quot;user-name.*?&gt;([^&lt;].*?)&lt;\/a&gt;</string>
		<key>comments_date_regex</key>
		<string>&lt;span class=\&quot;date _clickable\&quot;&gt;(.*?)&lt;\/span&gt;</string>
		<key>comments_comment_regex</key>
		<string>&lt;div class=\&quot;body\&quot;&gt;(.*?)&lt;\/div&gt;</string>
		<key>ugo_info_regex</key>
		<string>pixiv\.context\.ugokuIllustData\s*=(.*?);</string>
		<key>manga_replacement_src</key>
		<array>
			<string>/600x600/</string>
			<string>_p0_</string>
			<string>_m.</string>
		</array>
		<key>manga_replacement_dst</key>
		<array>
			<string>/1200x1200/</string>
			<string>_p%@_</string>
			<string>_p%@.</string>
		</array>
		<key>login_body_format</key>
		<string>mode=login&amp;pixiv_id=%@&amp;pass=%@&amp;skip=1</string>
	</dict>
</dict>
</plist>
