<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urls</key>
	<dict>
		<key>host</key>
		<string>nijie.info</string>
		<key>base</key>
		<string>http://nijie.info/</string>
		<key>logout</key>
		<string>http://nijie.info/logout.php</string>
		<key>login</key>
		<string>http://nijie.info/login.php</string>
		<key>medium</key>
		<string>http://nijie.info/view.php?id=%@</string>
		<key>user</key>
		<string>members_illust.php?id=%@</string>
		<key>search</key>
		<string>search.php?word=%@</string>
		<key>tag</key>
		<string>search.php?word=%@</string>
		<key>bookmark_add</key>
		<string>http://nijie.info/bookmark_add.php</string>
		<key>favorite_user_add</key>
		<string>http://nijie.info/like_user_tuika.php?id=%@</string>
		<key>rating</key>
		<string>http://nijie.info/nuita.php?id=%@</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>constants</key>
	<dict>
		<key>no_redirect</key>
		<true/>
		<key>login_failed_str</key>
		<string>&lt;form action=&quot;login</string>
		<key>login_param</key>
		<string>_email=%@&amp;password=%@&amp;save=on</string>
		<key>page_param</key>
		<string>p</string>
		<key>rating_is_enabled</key>
		<true/>
		<key>bookmark_is_enabled</key>
		<true/>
		<key>favorite_user_is_enabled</key>
		<true/>
		<key>comment_is_enabeld</key>
		<false/>
		<key>rating_title</key>
		<string>抜いた</string>
		<key>comment_title</key>
		<string></string>
		<key>bookmark_title</key>
		<string>ブクマ</string>
		<key>favorite_user_title</key>
		<string>お気に入りユーザ</string>
		<key>max_length_of_comment</key>
		<integer>0</integer>
		<key>expired_seconds</key>
		<string>1800</string>
		<key>age_jump_prefix</key>
		<string>age_jump.php</string>
	</dict>
	<key>menu</key>
	<array>
		<dict>
			<key>title</key>
			<string>ユーザ</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>okiniiri.php</string>
					<key>name</key>
					<string>お気に入り</string>
					<key>no_pages</key>
					<false/>
				</dict>
				<dict>
					<key>method</key>
					<string>like_user_view.php</string>
					<key>name</key>
					<string>お気に入りユーザー新着</string>
					<key>no_pages</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>2次絵</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>illust_view.php</string>
					<key>name</key>
					<string>みんなの2次絵</string>
					<key>no_pages</key>
					<false/>
				</dict>
				<dict>
					<key>method</key>
					<string>okazu.php</string>
					<key>name</key>
					<string>おかず</string>
					<key>no_pages</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>検索</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>search.php?word=%@</string>
					<key>name</key>
					<string>検索</string>
					<key>class</key>
					<string>ScrapingSearchViewController</string>
					<key>no_nib</key>
					<false/>
				</dict>
				<dict>
					<key>method</key>
					<string>search_history</string>
					<key>name</key>
					<string>検索履歴</string>
					<key>class</key>
					<string>ScrapingSearchHistoryViewController</string>
					<key>no_nib</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
	<key>matrix</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>name</key>
			<string>body</string>
			<key>attributes</key>
			<dict/>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>a</string>
					<key>attributes</key>
					<dict>
						<key>href</key>
						<string>^view\.php\?id=[0-9]+$</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>href</key>
						<string>^view\.php\?id=([0-9]+)$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>img</string>
							<key>needsScrapAttributes</key>
							<dict>
								<key>src</key>
								<string>(.*)</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>a</string>
					<key>id</key>
					<string>pages</string>
					<key>attributes</key>
					<dict>
						<key>href</key>
						<string>.*\/page=[0-9]+.*</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>href</key>
						<string>.*\/page=([0-9]+).*</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>Illusts</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>is_list</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>ThumbnailURLString</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a.img</string>
							<key>attr_name</key>
							<string>src</string>
							<key>replacing</key>
							<array>
								<dict>
									<key>regex</key>
									<string>^\/\/</string>
									<key>replacing</key>
									<string>http:\/\/</string>
								</dict>
							</array>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>IllustID</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a</string>
							<key>attr_name</key>
							<string>href</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Pages</key>
			<dict>
				<key>path</key>
				<string>body.pages</string>
				<key>attr_name</key>
				<string>href</string>
				<key>is_list</key>
				<true/>
				<key>strict</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>medium</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>name</key>
			<string>body</string>
			<key>id</key>
			<string>root</string>
			<key>attributes</key>
			<dict/>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>left</string>
					<key>attributes</key>
					<dict>
						<key>id</key>
						<string>^main-right$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>a</string>
							<key>id</key>
							<string>user_name</string>
							<key>attributes</key>
							<dict>
								<key>href</key>
								<string>members\.php\?id=[0-9]+</string>
							</dict>
							<key>needsScrapAttributes</key>
							<dict>
								<key>href</key>
								<string>members\.php\?id=([0-9]+)</string>
							</dict>
							<key>needsScrapBodys</key>
							<array>
								<string>(.*)</string>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>header</string>
					<key>attributes</key>
					<dict>
						<key>id</key>
						<string>^view-header$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>div</string>
							<key>id</key>
							<string>left</string>
							<key>attributes</key>
							<dict>
								<key>id</key>
								<string>^view-left$</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>h4</string>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>middle</string>
					<key>attributes</key>
					<dict>
						<key>id</key>
						<string>^view-middle$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>div</string>
							<key>id</key>
							<string>honbun</string>
							<key>attributes</key>
							<dict>
								<key>id</key>
								<string>^view-honbun$</string>
							</dict>
							<key>needsScrapBodys</key>
							<array>
								<string>(.*)</string>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>div</string>
							<key>id</key>
							<string>tag</string>
							<key>attributes</key>
							<dict>
								<key>id</key>
								<string>^view-tag$</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>a</string>
									<key>attributes</key>
									<dict>
										<key>href</key>
										<string>^search\.php\?word=.*$</string>
									</dict>
									<key>needsScrapAttributes</key>
									<dict>
										<key>href</key>
										<string>(.*)</string>
									</dict>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>center</string>
					<key>attributes</key>
					<dict>
						<key>id</key>
						<string>^view-center$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>img</string>
							<key>id</key>
							<string>image</string>
							<key>attributes</key>
							<dict>
								<key>id</key>
								<string>^view_img$</string>
							</dict>
							<key>needsScrapAttributes</key>
							<dict>
								<key>src</key>
								<string>(.*)</string>
							</dict>
						</dict>
						<dict>
							<key>name</key>
							<string>a</string>
							<key>id</key>
							<string>images</string>
							<key>attributes</key>
							<dict>
								<key>href</key>
								<string>^.*/nijie_picture/diff/main/[0-9_]+\..*$</string>
							</dict>
							<key>needsScrapAttributes</key>
							<dict>
								<key>href</key>
								<string>(.*)</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>comment</string>
					<key>attributes</key>
					<dict>
						<key>id</key>
						<string>^comment$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>div</string>
							<key>id</key>
							<string>co2</string>
							<key>attributes</key>
							<dict>
								<key>class</key>
								<string>^co2$</string>
							</dict>
							<key>needsScrapBodys</key>
							<array>
								<string>(.*)</string>
							</array>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>a</string>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
								<dict>
									<key>name</key>
									<string>em</string>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>path</key>
				<string>root.header.left.h4</string>
				<key>restrict</key>
				<true/>
			</dict>
			<key>Comment</key>
			<dict>
				<key>path</key>
				<string>root.middle.honbun</string>
				<key>restrict</key>
				<true/>
			</dict>
			<key>UserID</key>
			<dict>
				<key>path</key>
				<string>left.user_name</string>
				<key>attr_name</key>
				<string>href</string>
			</dict>
			<key>UserName</key>
			<dict>
				<key>path</key>
				<string>left.user_name</string>
			</dict>
			<key>MediumURLString</key>
			<dict>
				<key>path</key>
				<string>center.image</string>
				<key>attr_name</key>
				<string>src</string>
			</dict>
			<key>Images</key>
			<dict>
				<key>path</key>
				<string>root.center</string>
				<key>restrict</key>
				<true/>
				<key>is_list</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>URL</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>images</string>
							<key>attr_name</key>
							<string>href</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Tags</key>
			<dict>
				<key>path</key>
				<string>root.middle.tag</string>
				<key>is_list</key>
				<true/>
				<key>restrict</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>Name</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a</string>
							<key>replacing</key>
							<array>
								<dict>
									<key>regex</key>
									<string>\*</string>
									<key>replacing</key>
									<string></string>
								</dict>
							</array>
						</dict>
					</dict>
				</array>
			</dict>
			<key>OneComments</key>
			<dict>
				<key>path</key>
				<string>root.comment</string>
				<key>is_list</key>
				<true/>
				<key>restrict</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>UserName</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>co2.a</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>DateString</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>co2.em</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>Comment</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>co2</string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
