<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>account</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>UserKey</string>
			<key>Title</key>
			<string>username</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>PassKey</string>
			<key>Title</key>
			<string>password</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>pixa account</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>PixaUserKey</string>
			<key>Title</key>
			<string>pixa username</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>PixaPassKey</string>
			<key>Title</key>
			<string>pixa password</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>tumblr account</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>TumblrUsername</string>
			<key>Title</key>
			<string>tumblr username</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>TumblrPassword</string>
			<key>Title</key>
			<string>tumblr password</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>slideshow</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>slideshow interval</string>
			<key>DefaultValue</key>
			<integer>10</integer>
			<key>Key</key>
			<string>SlideshowInterval</string>
			<key>Values</key>
			<array>
				<integer>5</integer>
				<integer>10</integer>
				<integer>15</integer>
				<integer>30</integer>
				<integer>60</integer>
				<integer>180</integer>
				<integer>300</integer>
				<integer>600</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>5sec</string>
				<string>10sec</string>
				<string>15sec</string>
				<string>30sec</string>
				<string>1min</string>
				<string>3min</string>
				<string>5min</string>
				<string>10min</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>slideshow display</string>
			<key>DefaultValue</key>
			<string>AspectFit</string>
			<key>Key</key>
			<string>SlideshowDisplay</string>
			<key>Values</key>
			<array>
				<string>AspectFit</string>
				<string>AspectFill</string>
			</array>
			<key>Titles</key>
			<array>
				<string>aspect fit</string>
				<string>aspect fill</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>disable idle timer</string>
			<key>Key</key>
			<string>SlideshowDisableIdleTimer</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>enable clock</string>
			<key>Key</key>
			<string>SlideshowEnableClock</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>other</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>enable cache</string>
			<key>Key</key>
			<string>EnableCache</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>autorotate</string>
			<key>Key</key>
			<string>Autorotate</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
