<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urls</key>
	<dict>
		<key>host</key>
		<string>www.fg-site.net</string>
		<key>base</key>
		<string>http://www.fg-site.net/old/</string>
		<key>logout</key>
		<string>http://www.fg-site.net/old/users/logout/</string>
		<key>login</key>
		<string>http://www.fg-site.net/old/users/login/</string>
		<key>medium</key>
		<string>http://www.fg-site.net/old/products/%@/simple</string>
		<key>big</key>
		<string>http://www.fg-site.net/old/contents/content/%@/%d</string>
		<key>user</key>
		<string>contents/view/%@/</string>
		<key>tag</key>
		<string>tag/%@</string>
		<key>search</key>
		<string>contents/search/page:%d/word:%@</string>
		<key>bookmark_add</key>
		<string>http://www.fg-site.net/old/mylists/add/%@</string>
		<key>favorite_user_add</key>
		<string>http://www.fg-site.net/old/favorites/add/%@</string>
		<key>rating</key>
		<string>http://www.fg-site.net/old/ratings/vote</string>
		<key>comment</key>
		<string>http://www.fg-site.net/old/bbs_threads/comment_content_post/%@</string>
	</dict>
	<key>constants</key>
	<dict>
		<key>login_failed_str</key>
		<string>&lt;form action=&quot;/users/login</string>
		<key>login_param</key>
		<string>data[email]=%@&amp;data[password]=%@</string>
		<key>page_param</key>
		<string>page:%d/</string>
		<key>search_param</key>
		<string>data[Search][word]=%@</string>
		<key>bookmark_add_param</key>
		<string>data[Mylist][public]=1</string>
		<key>favorite_user_add_param</key>
		<string>data[Favorite][public]=1</string>
		<key>rating_param</key>
		<string>score=%@&amp;uid=%@&amp;cid=%@</string>
		<key>comment_param</key>
		<string>data[Form][text]=%@</string>
		<key>rating_is_enabled</key>
		<false/>
		<key>bookmark_is_enabled</key>
		<false/>
		<key>favorite_user_is_enabled</key>
		<false/>
		<key>comment_is_enabeld</key>
		<false/>
		<key>rating_title</key>
		<string>評価</string>
		<key>comment_title</key>
		<string>コメント</string>
		<key>bookmark_title</key>
		<string>マイリスト</string>
		<key>favorite_user_title</key>
		<string>お気に入りユーザー</string>
		<key>max_length_of_comment</key>
		<integer>140</integer>
		<key>expired_seconds</key>
		<string>1800</string>
	</dict>
	<key>menu</key>
	<array>
		<dict>
			<key>title</key>
			<string>ユーザー</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>contents/view/</string>
					<key>name</key>
					<string>投稿した作品</string>
					<key>class</key>
					<string>fgPagingMatrixViewController</string>
					<key>no_nib</key>
					<true/>
				</dict>
				<dict>
					<key>method</key>
					<string>mylists/index/</string>
					<key>name</key>
					<string>マイリスト</string>
					<key>class</key>
					<string>fgPagingMatrixViewController</string>
					<key>no_nib</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>新着</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>contents/index/0/9/</string>
					<key>name</key>
					<string>みんなの新着作品</string>
					<key>class</key>
					<string>fgRescentMatrixViewController</string>
					<key>no_nib</key>
					<true/>
					<key>parser</key>
					<string>matrix_rescent</string>
				</dict>
				<dict>
					<key>method</key>
					<string>contents/favorite/</string>
					<key>name</key>
					<string>お気に入りユーザー新着</string>
					<key>class</key>
					<string>fgPagingMatrixViewController</string>
					<key>no_nib</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>ランキング</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>contents/recent_comment/</string>
					<key>name</key>
					<string>最近コメントされた作品</string>
					<key>no_pages</key>
					<true/>
				</dict>
				<dict>
					<key>method</key>
					<string>contents/ranking/0/0</string>
					<key>name</key>
					<string>デイリーランキング</string>
					<key>no_pages</key>
					<true/>
				</dict>
				<dict>
					<key>method</key>
					<string>contents/rookie_ranking/</string>
					<key>name</key>
					<string>新人ランキング</string>
					<key>no_pages</key>
					<true/>
				</dict>
				<dict>
					<key>method</key>
					<string>contents/ranking/0/1</string>
					<key>name</key>
					<string>ウィークリーランキング</string>
					<key>no_pages</key>
					<true/>
				</dict>
				<dict>
					<key>method</key>
					<string>contents/ranking/0/2</string>
					<key>name</key>
					<string>マンスリーランキング</string>
					<key>no_pages</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>検索</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>search/%@?target=illust</string>
					<key>name</key>
					<string>検索</string>
					<key>class</key>
					<string>fgSearchViewController</string>
					<key>no_nib</key>
					<true/>
				</dict>
				<dict>
					<key>method</key>
					<string>search_history</string>
					<key>name</key>
					<string>検索履歴</string>
					<key>class</key>
					<string>fgSearchHistoryViewController</string>
					<key>no_nib</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
	<key>matrix</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>name</key>
			<string>div</string>
			<key>attributes</key>
			<dict>
				<key>class</key>
				<string>^site$</string>
			</dict>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>a</string>
					<key>attributes</key>
					<dict>
						<key>href</key>
						<string>.*\/products\/[0-9]+$</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>href</key>
						<string>.*\/products\/([0-9]+)$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>img</string>
							<key>needsScrapAttributes</key>
							<dict>
								<key>src</key>
								<string>(.*)</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>a</string>
					<key>id</key>
					<string>pages</string>
					<key>attributes</key>
					<dict>
						<key>href</key>
						<string>.*\/page:[0-9]+.*</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>href</key>
						<string>.*\/page:([0-9]+).*</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>Illusts</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>is_list</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>ThumbnailURLString</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a.img</string>
							<key>attr_name</key>
							<string>src</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>IllustID</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a</string>
							<key>attr_name</key>
							<string>href</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Pages</key>
			<dict>
				<key>path</key>
				<string>div.pages</string>
				<key>attr_name</key>
				<string>href</string>
				<key>is_list</key>
				<true/>
				<key>strict</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>matrix_rescent</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>name</key>
			<string>div</string>
			<key>attributes</key>
			<dict>
				<key>class</key>
				<string>^site$</string>
			</dict>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>a</string>
					<key>attributes</key>
					<dict>
						<key>href</key>
						<string>.*\/products\/[0-9]+$</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>href</key>
						<string>.*\/products\/([0-9]+)$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>img</string>
							<key>needsScrapAttributes</key>
							<dict>
								<key>src</key>
								<string>(.*)</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>a</string>
					<key>id</key>
					<string>pages</string>
					<key>attributes</key>
					<dict>
						<key>href</key>
						<string>.*\/contents\/index\/0\/9\/[0-9]+$</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>href</key>
						<string>.*\/contents\/index\/0\/9\/([0-9]+)$</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>Illusts</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>is_list</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>ThumbnailURLString</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a.img</string>
							<key>attr_name</key>
							<string>src</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>IllustID</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a</string>
							<key>attr_name</key>
							<string>href</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Pages</key>
			<dict>
				<key>path</key>
				<string>div.pages</string>
				<key>attr_name</key>
				<string>href</string>
				<key>is_list</key>
				<true/>
				<key>strict</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>medium</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>name</key>
			<string>div</string>
			<key>id</key>
			<string>root</string>
			<key>attributes</key>
			<dict>
				<key>class</key>
				<string>^site$</string>
			</dict>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>left</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>^floatleft detail_box$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>div</string>
							<key>id</key>
							<string>title</string>
							<key>attributes</key>
							<dict>
								<key>class</key>
								<string>^contentTitle$</string>
							</dict>
							<key>needsScrapBodys</key>
							<array>
								<string>(.*)</string>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>div</string>
							<key>id</key>
							<string>caption</string>
							<key>attributes</key>
							<dict>
								<key>class</key>
								<string>^floatleft textleft content_text$</string>
							</dict>
							<key>needsScrapBodys</key>
							<array>
								<string>(.*)</string>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>div</string>
							<key>id</key>
							<string>title_right</string>
							<key>attributes</key>
							<dict>
								<key>class</key>
								<string>^floatright textright$</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>table</string>
									<key>attributes</key>
									<dict>
										<key>class</key>
										<string>^content_info$</string>
									</dict>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>div</string>
							<key>id</key>
							<string>tags</string>
							<key>attributes</key>
							<dict>
								<key>id</key>
								<string>^tag_area$</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>a</string>
									<key>attributes</key>
									<dict>
										<key>href</key>
										<string>.*\/tags\/[0-9]+$</string>
									</dict>
									<key>needsScrapAttributes</key>
									<dict>
										<key>href</key>
										<string>(.*)</string>
									</dict>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>a</string>
							<key>id</key>
							<string>images</string>
							<key>attributes</key>
							<dict>
								<key>href</key>
								<string>.*\/contents\/content\/[0-9]+\/[0-9]+$</string>
							</dict>
							<key>needsScrapAttributes</key>
							<dict>
								<key>href</key>
								<string>(.*)</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>img</string>
									<key>needsScrapAttributes</key>
									<dict>
										<key>src</key>
										<string>(.*)</string>
									</dict>
								</dict>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>center</string>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>div</string>
									<key>id</key>
									<string>comments</string>
									<key>children</key>
									<array>
										<dict>
											<key>name</key>
											<string>a</string>
											<key>id</key>
											<string>name</string>
											<key>attributes</key>
											<dict>
												<key>href</key>
												<string>\/members\/[0-9]+$</string>
											</dict>
											<key>needsScrapBodys</key>
											<array>
												<string>(.*)</string>
											</array>
										</dict>
										<dict>
											<key>name</key>
											<string>span</string>
											<key>id</key>
											<string>body</string>
											<key>attributes</key>
											<dict>
												<key>style</key>
												<string>\width: 370px; float: left;text-align: left; overflow: hidden;$</string>
											</dict>
											<key>needsScrapBodys</key>
											<array>
												<string>(.*)</string>
											</array>
										</dict>
										<dict>
											<key>name</key>
											<string>span</string>
											<key>id</key>
											<string>date</string>
											<key>attributes</key>
											<dict>
												<key>style</key>
												<string>^width: 130px; float: left;text-align: left; padding-left: 10px;$</string>
											</dict>
											<key>needsScrapBodys</key>
											<array>
												<string>(.*)</string>
											</array>
										</dict>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>right</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>^floatright detail_right$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>table</string>
							<key>attributes</key>
							<dict>
								<key>class</key>
								<string>^profile_small$</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>a</string>
									<key>attributes</key>
									<dict>
										<key>href</key>
										<string>.*\/members\/[0-9]+$</string>
									</dict>
									<key>needsScrapAttributes</key>
									<dict>
										<key>href</key>
										<string>.*\/members\/([0-9]+)$</string>
									</dict>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>path</key>
				<string>left.title</string>
			</dict>
			<key>Comment</key>
			<dict>
				<key>path</key>
				<string>left.caption</string>
			</dict>
			<key>UserID</key>
			<dict>
				<key>path</key>
				<string>right.table.a</string>
				<key>attr_name</key>
				<string>href</string>
			</dict>
			<key>UserName</key>
			<dict>
				<key>path</key>
				<string>right.table.a</string>
				<key>result_idx</key>
				<string>1</string>
			</dict>
			<key>UserPictureURLString</key>
			<dict>
				<key>path</key>
				<string>user.a.img</string>
				<key>attr_name</key>
				<string>src</string>
			</dict>
			<key>MediumURLString</key>
			<dict>
				<key>path</key>
				<string>left.images.img</string>
				<key>attr_name</key>
				<string>src</string>
			</dict>
			<key>Images</key>
			<dict>
				<key>path</key>
				<string>left</string>
				<key>is_list</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>Medium</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>images.img</string>
							<key>attr_name</key>
							<string>src</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>URLString</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>images.img</string>
							<key>attr_name</key>
							<string>src</string>
							<key>replacing</key>
							<array>
								<dict>
									<key>regex</key>
									<string>\/lrg\/</string>
									<key>replacing</key>
									<string>\/org\/</string>
								</dict>
								<dict>
									<key>regex</key>
									<string>\/lrg</string>
									<key>replacing</key>
									<string>\/org</string>
								</dict>
							</array>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Tags</key>
			<dict>
				<key>path</key>
				<string>left.tags</string>
				<key>is_list</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>Name</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>URL</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a</string>
							<key>attr_name</key>
							<string>href</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>OneComments</key>
			<dict>
				<key>path</key>
				<string>left.center</string>
				<key>is_list</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>UserName</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>comments.name</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>DateString</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>comments.date</string>
							<key>body_idx</key>
							<string>0</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>Comment</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>comments.body</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>RatingString</key>
			<dict>
				<key>path</key>
				<string>left.title_right.table</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
