<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urls</key>
	<dict>
		<key>base</key>
		<string>http://seiga.nicovideo.jp/</string>
		<key>logout</key>
		<string>http://seiga.nicovideo.jp/logout</string>
		<key>login</key>
		<string>https://secure.nicovideo.jp/secure/login?site=seiga</string>
		<key>medium</key>
		<string>http://seiga.nicovideo.jp/seiga/im%@</string>
		<key>big</key>
		<string>http://seiga.nicovideo.jp/image/source?id=%@</string>
		<key>user</key>
		<string>user/illust/%@?target=seiga</string>
		<key>tag</key>
		<string>tag/%@</string>
		<key>search</key>
		<string>search/%@?target=illust</string>
		<key>shunga_submit</key>
		<string>http://seiga.nicovideo.jp/shunga/redirect</string>
		<key>bookmark_add</key>
		<string>http://seiga.nicovideo.jp/ajax/clip/add</string>
	</dict>
	<key>constants</key>
	<dict>
		<key>login_failed_str</key>
		<string>&lt;form action=&quot;https://secure.nicovideo.jp/secure/login?site=seiga</string>
		<key>page_param</key>
		<string>page</string>
		<key>shunga_submit_param</key>
		<string>skip=1</string>
		<key>bookmark_add_param</key>
		<string>image_id=%@</string>
		<key>expired_seconds</key>
		<string>600</string>
	</dict>
	<key>menu</key>
	<array>
		<dict>
			<key>title</key>
			<string>ユーザー</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>my/personalize</string>
					<key>name</key>
					<string>定点観測</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>一覧</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>illust/list</string>
					<key>name</key>
					<string>新着</string>
				</dict>
				<dict>
					<key>method</key>
					<string>illust/list/image_view</string>
					<key>name</key>
					<string>閲覧数</string>
				</dict>
				<dict>
					<key>method</key>
					<string>illust/list/clip_count</string>
					<key>name</key>
					<string>クリップ数</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>ランキング</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>illust/ranking/point/hourly/original</string>
					<key>name</key>
					<string>オリジナル</string>
					<key>no_pages</key>
					<true/>
				</dict>
				<dict>
					<key>method</key>
					<string>illust/ranking/point/hourly/portrait</string>
					<key>name</key>
					<string>似顔絵</string>
					<key>no_pages</key>
					<true/>
				</dict>
				<dict>
					<key>method</key>
					<string>illust/ranking/point/hourly/anime</string>
					<key>name</key>
					<string>アニメ</string>
					<key>no_pages</key>
					<true/>
				</dict>
				<dict>
					<key>method</key>
					<string>illust/ranking/point/hourly/game</string>
					<key>name</key>
					<string>ゲーム</string>
					<key>no_pages</key>
					<true/>
				</dict>
				<dict>
					<key>method</key>
					<string>illust/ranking/point/hourly/character</string>
					<key>name</key>
					<string>キャラクター</string>
					<key>no_pages</key>
					<true/>
				</dict>
				<dict>
					<key>method</key>
					<string>illust/ranking/point/hourly/toho</string>
					<key>name</key>
					<string>東方</string>
					<key>no_pages</key>
					<true/>
				</dict>
				<dict>
					<key>method</key>
					<string>illust/ranking/point/hourly/vocaloid</string>
					<key>name</key>
					<string>ボーカロイド</string>
					<key>no_pages</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>検索</string>
			<key>rows</key>
			<array>
				<dict>
					<key>method</key>
					<string>search/%@?target=illust</string>
					<key>name</key>
					<string>検索</string>
					<key>class</key>
					<string>SeigaSearchViewController</string>
				</dict>
				<dict>
					<key>method</key>
					<string>search_history</string>
					<key>name</key>
					<string>検索履歴</string>
					<key>class</key>
					<string>SeigaSearchHistoryViewController</string>
					<key>no_nib</key>
					<true/>
				</dict>
			</array>
		</dict>
	</array>
	<key>matrix</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>name</key>
			<string>div</string>
			<key>attributes</key>
			<dict>
				<key>id</key>
				<string>^main$</string>
			</dict>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>a</string>
					<key>attributes</key>
					<dict>
						<key>href</key>
						<string>.*/seiga/im[0-9]*.*$</string>
					</dict>
					<key>needsScrapAttributes</key>
					<dict>
						<key>href</key>
						<string>.*/seiga/im([0-9]*)</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>img</string>
							<key>needsScrapAttributes</key>
							<dict>
								<key>src</key>
								<string>(.*)</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>^pager_inner$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>a</string>
							<key>attributes</key>
							<dict>
								<key>href</key>
								<string>.*page=[0-9]+.*</string>
							</dict>
							<key>needsScrapAttributes</key>
							<dict>
								<key>href</key>
								<string>.*page=([0-9]+).*</string>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>Illusts</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>is_list</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>ThumbnailURLString</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a.img</string>
							<key>attr_name</key>
							<string>src</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>IllustID</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>a</string>
							<key>attr_name</key>
							<string>href</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Pages</key>
			<dict>
				<key>path</key>
				<string>div</string>
				<key>attr_name</key>
				<string>href</string>
				<key>is_list</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>medium</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>name</key>
			<string>div</string>
			<key>attributes</key>
			<dict>
				<key>id</key>
				<string>^content$</string>
			</dict>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>h1</string>
					<key>id</key>
					<string>title_text</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>^title$</string>
					</dict>
					<key>needsScrapBodys</key>
					<array>
						<string>(.*)</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>p</string>
					<key>id</key>
					<string>illust_user_exp</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>^discription$</string>
					</dict>
					<key>needsScrapBodys</key>
					<array>
						<string>(.*)</string>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>li</string>
					<key>id</key>
					<string>user</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>^user_name.*</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>a</string>
							<key>attributes</key>
							<dict>
								<key>href</key>
								<string>/user/illust/[0-9]+$</string>
							</dict>
							<key>needsScrapAttributes</key>
							<dict>
								<key>href</key>
								<string>/user/illust/([0-9]+)$</string>
							</dict>
							<key>children</key>
							<array>
								<dict>
									<key>name</key>
									<string>strong</string>
									<key>needsScrapBodys</key>
									<array>
										<string>(.*)</string>
									</array>
								</dict>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>a</string>
					<key>id</key>
					<string>link</string>
					<key>attributes</key>
					<dict>
						<key>href</key>
						<string>^/image/source/[0-9]+$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>img</string>
							<key>needsScrapAttributes</key>
							<dict>
								<key>src</key>
								<string>(.*)</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>li</string>
					<key>id</key>
					<string>comment</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>^comment_list_item$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>span</string>
							<key>id</key>
							<string>date</string>
							<key>attributes</key>
							<dict>
								<key>class</key>
								<string>^comment_info$</string>
							</dict>
							<key>needsScrapBodys</key>
							<array>
								<string>^(.*)\[.*\].*$</string>
								<string>^.*\[(.*)\].*$</string>
							</array>
						</dict>
						<dict>
							<key>name</key>
							<string>li</string>
							<key>id</key>
							<string>body</string>
							<key>attributes</key>
							<dict>
								<key>class</key>
								<string>^text$</string>
							</dict>
							<key>needsScrapBodys</key>
							<array>
								<string>(.*)</string>
							</array>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>tag_block</string>
					<key>attributes</key>
					<dict>
						<key>id</key>
						<string>^ko_taglist$</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>needsScrapAttributes</key>
							<dict>
								<key>href</key>
								<string>/tag/(.+)$</string>
							</dict>
							<key>name</key>
							<string>a</string>
							<key>attributes</key>
							<dict>
								<key>class</key>
								<string>^text$</string>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>id</key>
					<string>info</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>^info$</string>
					</dict>
					<key>needsScrapBodys</key>
					<array>
						<string>.*\[(.*)\].*</string>
					</array>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>span</string>
							<key>needsScrapBodys</key>
							<array>
								<string>(.*)</string>
							</array>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>Title</key>
			<dict>
				<key>path</key>
				<string>title_text</string>
			</dict>
			<key>Comment</key>
			<dict>
				<key>path</key>
				<string>illust_user_exp</string>
			</dict>
			<key>UserID</key>
			<dict>
				<key>path</key>
				<string>user.a</string>
				<key>attr_name</key>
				<string>href</string>
			</dict>
			<key>UserName</key>
			<dict>
				<key>path</key>
				<string>user.a.strong</string>
			</dict>
			<key>UserPictureURLString</key>
			<dict>
				<key>path</key>
				<string>user.a.img</string>
				<key>attr_name</key>
				<string>src</string>
			</dict>
			<key>MediumURLString</key>
			<dict>
				<key>path</key>
				<string>link.img</string>
				<key>attr_name</key>
				<string>src</string>
			</dict>
			<key>Tags</key>
			<dict>
				<key>path</key>
				<string>tag_block</string>
				<key>is_list</key>
				<true/>
			</dict>
			<key>OneComments</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>is_list</key>
				<true/>
				<key>children</key>
				<array>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>UserName</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>comments.date</string>
							<key>body_idx</key>
							<string>1</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>DateString</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>comments.date</string>
							<key>body_idx</key>
							<string>0</string>
						</dict>
					</dict>
					<dict>
						<key>key</key>
						<dict>
							<key>name</key>
							<string>Comment</string>
						</dict>
						<key>value</key>
						<dict>
							<key>path</key>
							<string>comments.body</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>RatingString</key>
			<dict>
				<key>path</key>
				<string>info</string>
				<key>replacing</key>
				<array>
					<dict>
						<key>regex</key>
						<string>\s</string>
						<key>replacing</key>
						<string></string>
					</dict>
					<dict>
						<key>regex</key>
						<string>\|</string>
						<key>replacing</key>
						<string>
</string>
					</dict>
				</array>
			</dict>
			<key>DateString</key>
			<dict>
				<key>path</key>
				<string>info.span</string>
			</dict>
		</dict>
	</dict>
	<key>big</key>
	<dict>
		<key>scrap</key>
		<dict>
			<key>name</key>
			<string>body</string>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>div</string>
					<key>attributes</key>
					<dict>
						<key>class</key>
						<string>illust_view_big</string>
					</dict>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>img</string>
							<key>needsScrapAttributes</key>
							<dict>
								<key>src</key>
								<string>(.*)</string>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>eval</key>
		<dict>
			<key>image</key>
			<dict>
				<key>path</key>
				<string>div.img</string>
				<key>attr_name</key>
				<string>src</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
